html, body {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #3e5f8a;
}
body h1{
  color: white;
}
footer{
  background-color: rgb(37, 141, 145);
  margin-top: auto;
}
/*Creacion de navBar*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
/*Hover para el navBar */
ul, li, li a{
  opacity: 0.5;
}
ul, li, li a:hover{
  opacity: 1.0;
}
/*Logo de navBar*/
.logo{
  width: 65px;
  height: 55px;
}
.LogoCompleto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 20%;
  padding-top: 1%;
}
/*Tamaño de imagenes de carrusel*/
.slide1, .slide2, .slide3{
    padding-top: 5%;
    width: 800px;
    height: 500px;
}

/*no se como quedara mejor, si el carrusel centrado o
 la imagen estirada por toda la pantalla, si pueden prueben a estirarla con
 otras imagenes que sean para el trabajo*/
 
/*Imagen centrada del carrusel */
.carousel-inner{
  padding-left: 29%;
}
/*Flechas de carrusel centradas*/
